body {
    background-color: rgb(168, 234, 248);
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
    content: ' ';
    display: block;
    clear: both;
}

.btn {
    color: #fff;
    background-color: rgb(243, 161, 3);
    display: inline-block;
    padding: 10px 12px 10px 12px;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
}

.btn:hover {
    background-color: rgb(4, 164, 45);
}

.btn:active {
    background-color: #000;
}

.no-display {
    display: none;
}