.site-header {
    padding: 14px;
    border-bottom: 4px dashed #ddd;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .4);
}

.logo {
    float: left;
}

.logo a {
    display: inline-block;
    text-decoration: none;
}

.logo h1 {
    color: #222;
    display: inline;
    font-size: 1.7rem;
    margin: 0;
}

.logo img {
    vertical-align: top;
}

.top-menu {
    float: right;
}

.hero {
    background: url('../../image/banner.png') no-repeat;
    height: 630px;
    text-align: center;
    padding-top: 24px;
    margin-top: 6px;
}

.hero h2,
.hero p {
    color: rgb(244, 244, 244);
    margin: 0;
    padding: 0;
}

.hero h2 {
    font-size: 3rem;
}

.hero p {
    font-size: 2rem;
}