.top {
    padding: 14px;
    border-bottom: 1px solid #eee;
    /*box-shadow: 0 8px 24px rgba(0, 0, 0, .4);*/
}

.logo {
    float: left;
}

.logo a {
    display: inline-block;
    text-decoration: none;
}

.logo h1 {
    color: #222;
    display: inline;
    font-size: 1.7em;
    margin: 0;
}

.logo img {
    vertical-align: top;
}

.top-menu {
    float: right;
}

.hero {
    background: url('../../image/banner.png') no-repeat;
    height: 630px;
    text-align: center;
    padding-top: 24px;
    margin-top: 6px;
}

.hero h2,
.hero h3 {
    color: rgb(244, 244, 244);
    margin: 0;
    padding: 0;
}

.hero h2 {
    font-size: 3em;
}

.hero h3 {
    font-size: 2em;
}