main {
    margin: 34px 0;
    padding: 24px 0 24px 0;
}

.featured {
    text-align: center;
}

.featured h2 {
    color: #333;
    margin: 0 14px 18px 14px;
    text-decoration: underline;
}

.featured .box {
    margin: 30px;
    position: relative;
}

.featured .box,
.featured .box a {
    display: inline-block;
}

.featured .box .overlay {
    position: absolute;
    text-align: left;
    color: #fff;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .4);
    height: 100%;
    bottom: 0;
    padding: 0 10px 0 10px;
}

.featured .box:hover .overlay {
    display: block;
}